:root {
  --rosa: #ff00a0;
  --naranja: #FFB17A;
  --vino: #A04668;
  --cian: #00ffcc;
  --fondo: linear-gradient(#FFB17A, #A04668);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--fondo);
  background-attachment: fixed;
  color: #3b202b;
  scroll-behavior: smooth;
}
nav {
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 10px;
  margin: 0;
}
nav a {
  color: #e76d6d;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s;
}
nav a:hover {
  color: var(--vino);
}
/* Encabezado */
header {
  text-align: center;
  padding: 3rem 1rem;
  position: relative;
}
header h1 {
  font-family: 'Press Start 2P', cursive;
  color: var(--vino);
  text-shadow: 0 0 8px var(--naranja);
  font-size: 2.6rem;
	font-weight: bold;
	color: #463239;
	line-height: 1.2;
}
header p {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Secciones */
.seccion {
  max-width: 1000px;
  margin: 2rem auto;
  background: #f9dcc4;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.seccion h2 {
  font-family: 'Press Start 2P', cursive;
  color: var(--vino);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.demostracion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #fff4ea;
  border-radius: 10px;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.boton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: var(--vino);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}
.boton:hover {
  background: #6d324b;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #fff;
  font-size: 0.9rem;
}
footer a {
  color: var(--vino);
  text-decoration: none;
}
